body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
  text-decoration: underline;
}

h2,
section h2 {
  color: #333;
  margin-bottom: 20px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

header img,
section div img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
  padding: 20px;
}

#about {
  background-color: #f2f2f2; /* Light gray background */
}

section p {
  line-height: 1.5;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 300px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 20px;
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

#skills li {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
